@use "../../../styles/utils" as *;

.bottom-text-container {
  margin-top: 120px;
  width: 100%;
  background-color: #ffffff;
  padding: 60px 0;
  overflow: hidden;
}

.text-row {
  width: 100%;
  overflow: hidden;
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}

.text-content {
  display: flex;
  width: max-content;
  animation: scroll 40s linear infinite;

  img {
    height: 100px;
    width: auto;
    margin-right: 0;
    flex-shrink: 0;
  }
}

.text-row-1 .text-content {
  animation: scroll-right 120s linear infinite;
}

.text-row-2 .text-content {
  animation: scroll-left 120s linear infinite;
}

@keyframes scroll-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

// 반응형 디자인
@media screen and (max-width: 768px) {
  .bottom-text-container {
    padding: 40px 0;
  }

  .text-content img {
    height: 70px;
  }

  .text-row {
    margin-bottom: 20px;
  }
}
