@use './../utils' as *;

#footer {
    background-color: $greyscale-200;
    width: 100%;
    height: vw(320px);
    // position: absolute;
    // margin: 0;

    .inner {
        padding: vw(90px) vw(240px);
        display: flex;
        justify-content: center;
        width: 100%;
        gap: vw(250px);
    }
    h2 {
        font-size: vw(20px);
        height: vw(40px);
        a {
            height: 100%;
            img {
                height: 100%;
            }
        }
    }
    .footer {
        &-group {
            display: flex;
            gap: vw(60px);
        }
        &-info-wrap {
            user-select: none;
            width: vw(540px);
            color: $greyscale-1000;
            div {
                display: flex;
                @include font-18px;
                &.links {
                    width: max-content;
                    p {
                        margin-right: vw(20px);
                    }
                    margin-bottom: vw(20px);
                }
                &.info {
                    p {
                        margin-bottom: vw(10px);
                    }
                    flex-direction: column;
                    margin-bottom: vw(10px);
                }
                &.copyright {
                    color: $greyscale-900;
                }
            }
        }
        &-award-wrap {
            user-select: none;
            width: vw(370px);
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: vw(20px);
            color: $greyscale-1000;
            @include font-16px;
            p {
                display: flex;
                height: vw(40px);
                img {
                    margin-right: vw(10px);
                    min-width: vw(30px);
                }
            }
        }
    }
}
