@use './../utils' as *;

html.is-active {
    overflow-y: hidden;
}

#header {
    z-index: 100;
    // position: fixed;
    // top: 0;

    width: 100%;
    height: 95px;
    background: rgba($color: #000, $alpha: 0);

    .inner {
        height: 100px;
        width: 1705px;
    }
    h1 {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        a {
            height: 33px;

            img {
                height: 100%;
            }
        }
    }

    .nav {
        box-sizing: border-box;
        height: 95px;
        display: flex;
        align-items: center;
        justify-content: center;
        ul {
            display: flex;
            gap: 90px;
            &.nav-menu {
                li {
                    &:nth-child(2) {
                        &::after {
                            content: '';
                            background-image: url('/images/icon/new.png');
                            background-repeat: no-repeat;
                            width: 32px;
                            height: 14px;
                            position: absolute;
                            right: 20px;
                            top: -12px;
                        }
                    }
                }
            }
            li {
                position: relative;
                &:hover {
                    a {
                        color: $mint;
                    }
                    img {
                        filter: saturate(1) brightness(1);
                    }
                }

                a {
                    display: flex;
                    align-items: center;
                    @include font-18px-M;
                    transition: 0.1s;
                    color: $white;
                    background-color: transparent;
                    span {
                    }
                    img {
                        filter: saturate(0) brightness(2);
                        margin-right: 10px;
                    }
                }
            }
            &.my-menu {
                gap: 30px;
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                display: flex;
                align-items: center;
                &:hover {
                    li {
                        color: $mint;
                    }
                }
                li {
                    margin: 0;
                    display: flex;
                    &:not(.none-line) {
                        a {
                            &:last-child {
                                padding-left: vw(20px);
                                position: relative;
                                &::after {
                                    position: absolute;
                                    content: '';
                                    background-color: $white;
                                    width: 1px;
                                    height: 80%;
                                    left: 10px;
                                    top: 50%;
                                    transform: translateY(-50%);
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    @include tablet {
        background: pink;
        .inner {
            height: 70px;
            width: 100%;
        }
        h1 {
            left: 10px;
            a img {
                width: 40px;
            }
        }
        .nav ul li {
            margin-left: 40px;
            a {
                font-size: 16px;
            }
        }
    }
} //header end
