@use './../utils' as *;

.inner {
    width: vw(1400px);
    margin: auto;
    position: relative;
    box-sizing: border-box;
    @include desktop {
    }
    @include tablet {
    }
    @include mobile {
        width: 89.7436vw; //350px
    }
}
