@use '../../../styles/utils' as *;

.content3 {
    position: relative;
    // overflow: hidden;
    // padding-bottom: 550px;
    // padding-top: 100px;
    // padding: 100px 0;
    padding: vw(100) 0 vw(500);

    .hot_hotels {
        color: $greyscale-1200;
        font-size: rem(60);
        font-weight: 700;
        line-height: 150%;
        text-align: right;
        padding-right: vw(300);
        z-index: 3;
    }

    .contet3bg {
        overflow: hidden;

        img {
            width: 100vw;
            position: absolute;
            bottom: 0;
        }

        video {
            position: absolute;
            bottom: 0;
            left: 0;
            width: vw(2296);
            height: vw(490);
            object-fit: cover;
            z-index: -1;
        }
    }

    .carousel {
        position: relative;
        z-index: 0;
        height: vw(800);
        pointer-events: none;
        .carousel-item {
            --x: calc(var(--active) * 400%);
            --y: calc(var(--active) * 100%);
            --rot: calc(var(--active) * 60deg);
            --opacity: calc(var(--zIndex) / var(--items) * 3 - 2);
            position: absolute;
            z-index: var(--zIndex);
            width: vw(420);
            height: vw(560);
            margin: calc(var(--height) * -0.5) 0 0 calc(var(--width) * -0.5);
            user-select: none;
            transform-origin: 0% 100%;
            pointer-events: all;
            top: 40%;
            left: 50%;
            transform: translate(var(--x), var(--y)) rotate(var(--rot));
            transition: transform 0.8s cubic-bezier(0, 0.02, 0, 1);

            .carousel-box {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transition: opacity 0.8s cubic-bezier(0, 0.02, 0, 1);
                opacity: var(--opacity);
                border-radius: vw(18);
                overflow: hidden;

                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(
                        to bottom,
                        rgba(0, 0, 0, 0.3),
                        rgba(0, 0, 0, 0) 30%,
                        rgba(0, 0, 0, 0) 50%,
                        rgba(0, 0, 0, 0.5)
                    );
                }
            }

            .title {
                position: absolute;
                color: $white;
                bottom: vw(20);
                left: vw(20);
                text-shadow: 0 vw(4) vw(4) rgba(0, 0, 0, 0.1);

                strong {
                    @include font-14px;
                }
                h3 {
                    @include font-30px-B;
                    font-family: 'Pretendard';
                    line-height: 1.1;
                }
                p {
                    @include font-18px;
                }
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                pointer-events: none;
            }
        }
    }
}

@include tablet {
    @include mobile {
        .content3 {
            display: none;
        }
    }
}
