@use '../../../styles/utils' as *;

#TourDetail {
    padding-top: vw(130);
    .searchBar-BG {
        background-color: green;
        padding: 120px 0;
    }
}
#DetailBody {
}
#DetailBottom {
    // background-color: green;
    padding-bottom: vw(230px);
}
