@use 'sass:math';

// 루트 요소 기본 단위 --------------------------------------------------------------- /
$rootUnit: 16px !default;

// 단위 제거 함수 ------------------------------------------------------------------ /
@function removeUnit($value) {
    // @return ($value / ($value * 0 + 1));
    @if ($value==auto) {
        @return auto;
    }
    @return math.div($value, $value * 0 + 1);
}

// px을 rem 단위로 변경하는 함수 ------------------------------------------------------- /
@function rem($value, $base: $rootUnit) {
    @return (removeUnit(math.div($value, $base))) * 1rem;
}

// px을 em 단위로 변경하는 함수 ------------------------------------------------------- /
@function em($value, $base: $rootUnit) {
    @return (removeUnit(math.div($value, $base))) * 1em;
}

// px을 vw 단위로 변경하는 함수 ------------------------------------------------------- /

// 딱 두 개만 설정
$vw-base: 1920px !default; // 디자인 기준폭
$vw-min: 360px !default; // 최소 보장 뷰포트

// 숫자 → px 변환 보조 함수
@function ensure-px($value) {
    @if unit($value) == '' {
        @return $value * 1px; // 단위 없으면 px로 붙임
    }
    @return $value; // 이미 px이면 그대로 반환
}
// px or 숫자 -> 화면기준(svw) 유동값 + 안전한 clamp
@function vw($value) {
    $px: ensure-px($value);
    $r: math.div($px, $vw-base); // 비율
    @return clamp($r * $vw-min, $r * 100svw, $px);
}
