@use '../../../styles/utils' as *;

.content5-container {
    width: 100%;
    min-height: 100vh;
    background-color: $white;
    padding: vw(100) 0;

    .roadon-pick-section {
        max-width: vw(1200);
        margin: 0 auto;
        padding: 0 vw(20);
        overflow: visible;

        // 헤더 영역
        .roadon-pick-header {
            text-align: center;
            margin-bottom: vw(80);
            margin-top: vw(60);

            .roadon-pick-title {
                margin-bottom: vw(10);
                display: flex;
                justify-content: center;
                align-items: center;
                height: 90px;

                p {
                    font-size: rem(60);
                    margin-right: 10px;
                    color: $greyscale-1100;
                    .R {
                        color: $mint;
                    }
                    .O {
                        color: $orange;
                    }
                }
            }

            .roadon-pick-description {
                @include font-24px;
                color: $greyscale-1000;
                line-height: 1.5;
            }
        }

        // 슬라이더 컨테이너
        .slider-container {
            height: vw(576); // 36rem 기준
            width: 100%;
            max-width: vw(1200);
            display: flex;
            justify-content: center;
            align-items: center;
            user-select: none;
            position: relative;
            margin-top: vw(32); // 2rem
            overflow: visible;

            // 화살표
            .left-arrow,
            .right-arrow {
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                transition: all 0.5s ease-in-out;
                position: absolute;
                z-index: 10;
                border: none;
                background: none;

                svg {
                    width: vw(96); // 6rem
                    height: vw(96);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    border-radius: 50%;
                    padding: vw(8);
                    background: transparent;
                    color: $white;
                    opacity: 1;
                }
            }

            .left-arrow {
                left: -10%;
            }
            .right-arrow {
                right: -10%;
            }

            // 슬라이더 콘텐츠
            .slider-content {
                height: 100%;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;
                overflow: visible;
                position: relative;
                perspective: vw(100);

                &-background {
                    display: none;
                }
            }

            // 슬라이드 카드
            .slide {
                position: absolute;
                left: 50%;
                background: $greyscale-800;
                border-radius: vw(25);
                z-index: 0;
                transform: translate(-50%, 0) scale(1, 1);
                transform-style: preserve-3d;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: all 0.5s ease-in-out;

                &.position-2 {
                    width: vw(400);
                    height: vw(400);
                    border-radius: vw(60) 0;
                    left: 5%;
                    z-index: 2;
                    opacity: 1;
                    box-shadow: 0 vw(3) vw(13) rgba($black, 0.2);
                }

                &.position-3 {
                    width: vw(610);
                    height: vw(550);
                    border-radius: vw(60) 0;
                    left: 50%;
                    z-index: 4;
                    opacity: 1;
                    box-shadow: 0 vw(3) vw(16) rgba($black, 0.3);
                    cursor: pointer;

                    &:hover {
                        box-shadow: 0 0 vw(19) rgba($black, 0.4);
                        transform: translate(-50%, 0) scale(1.02, 1.02);
                    }
                }

                &.position-4 {
                    width: vw(400);
                    height: vw(400);
                    border-radius: vw(60) 0;
                    left: 95%;
                    z-index: 2;
                    opacity: 1;
                    box-shadow: 0 vw(3) vw(13) rgba($black, 0.2);
                }

                // &.position-none {
                //     left: 50%;
                //     z-index: 0;
                //     transform: translate(-50%, 0) rotateY(0deg) scale(0.7, 0.7);
                //     opacity: 0;
                //     box-shadow: none;
                // }

                // 미디어와 카드
                .media,
                .card-sections {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: vw(60) 0;
                }

                .media {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img {
                        position: absolute;
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                        border-radius: vw(60) 0;
                    }
                }

                .card-sections {
                    padding: vw(16);
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    box-sizing: border-box;
                }

                // 카드 오버레이
                .card-overlay {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    padding: vw(55);
                    color: $white;
                    text-shadow: 0 vw(2) vw(10) rgba($black, 0.7);
                    background: linear-gradient(
                        180deg,
                        rgba(0, 0, 0, 0.2) 0%,
                        rgba(0, 0, 0, 0.05) 30%,
                        rgba(0, 0, 0, 0.05) 70%,
                        rgba(0, 0, 0, 0.3) 100%
                    );
                    border-radius: vw(60) 0;

                    .top-info {
                        text-align: left;

                        .location {
                            @include font-16px;
                            opacity: 0.95;
                            margin-bottom: vw(5);
                            margin-left: vw(3);
                            letter-spacing: 0.5px;
                        }

                        .hotel-name {
                            @include font-32px-B;
                            line-height: 1;
                            margin: 0;
                            letter-spacing: -1px;
                            text-shadow: none;
                        }
                    }

                    .hilton-logo {
                        position: absolute;
                        top: vw(30);
                        right: vw(30);
                        font-size: rem(20);
                        font-weight: 900;
                        background: rgba($white, 0.95);
                        color: $black;
                        padding: vw(8) vw(16);
                        border-radius: vw(8);
                        box-shadow: 0 vw(4) vw(10) rgba($black, 0.2);
                    }

                    .category-tags {
                        position: absolute;
                        bottom: vw(-30);
                        left: 50%;
                        transform: translateX(-50%);
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        overflow: visible;

                        .category-svg {
                            fill: currentColor;
                            max-width: vw(150);
                            width: vw(150);
                            height: auto;
                            filter: drop-shadow(0 vw(2) vw(10) rgba($black, 0.7));
                            transform: rotate(-14deg);
                        }
                    }
                }
            }
        }
    }
}
@include tablet {
    @include mobile;
    .content5-container {
        padding: 0;
        margin-top: 280px;
        box-sizing: border-box;

        min-height: 380px;
        .roadon-pick-section {
            padding: 0;
            width: 100%;
            min-width: 100%;

            .roadon-pick-header {
                margin: 0;
                padding: 0 20px;
                width: 100%;

                text-align: left;
                .roadon-pick-title {
                    justify-content: start;
                    width: 350px;
                    margin: 0;
                    padding: 0;
                    height: max-content;

                    p {
                        font-size: rem(20);

                        color: $greyscale-1100;
                        .R {
                            color: $mint;
                        }
                        .O {
                            color: $orange;
                        }
                    }
                }

                .roadon-pick-description {
                    @include font-12px;
                    color: $greyscale-1000;
                    line-height: 1.5;
                }
            }

            // 슬라이더 컨테이너
            .slider-container {
                min-width: 100%;
                margin-top: 80px;
                // 화살표
                .left-arrow,
                .right-arrow {
                    svg {
                    }
                }

                .left-arrow {
                }
                .right-arrow {
                }

                // 슬라이더 콘텐츠
                .slider-content {
                    &-background {
                    }
                }

                // 슬라이드 카드
                .slide {
                    &.position-2 {
                        // display: none;
                        opacity: 0;
                    }

                    &.position-3 {
                        width: 255px;
                        height: 233px;
                        &:hover {
                        }
                    }

                    &.position-4 {
                        // display: none;
                        opacity: 0;
                    }

                    // 미디어와 카드
                    .media,
                    .card-sections {
                    }

                    .media {
                        img {
                        }
                    }

                    .card-sections {
                    }

                    // 카드 오버레이
                    .card-overlay {
                        .top-info {
                            .location {
                                font-size: rem(10);
                            }

                            .hotel-name {
                                @include font-18px;
                            }
                        }

                        .hilton-logo {
                        }

                        .category-tags {
                            .category-svg {
                            }
                        }
                    }
                }
            }
        }
    }
}
