@use "../../../styles/utils" as *;

.themeSection {
  width: 100%;

  .inner {
    margin-bottom: 0;
    .title-wrap {
      position: relative;
      display: inline-block;

      .title-img {
        width: 90%;
        position: relative;
        z-index: 2;
        margin-bottom: 2.94rem;
      }

      .highlight {
        position: absolute;
        bottom: 50px; // 글씨 높이에 맞춰 조정
        right: 58px;
        width: 33%;
        height: 20%; // 박스 높이
        background: #ffd6cc;
        z-index: 1; // 이미지 아래
      }
    }

    .tags {
      display: flex;
      gap: 5rem;
      list-style: none;
      padding: 0;

      li {
        position: relative; // ::after 위치 기준
        font-size: 30px;
        font-weight: 700;
        color: #a7a7a7;
        cursor: pointer;

        &.active {
          color: $mint;
        }
      }
    }
  }
}
