@use '../../../styles/utils' as *;

.content1 {
    overflow: hidden;
    position: relative;

    padding-bottom: vw(150);

    .inner {
    }
    &-head-txt {
        z-index: 20;
        padding-top: vw(160);
        .title {
            font-size: rem(50);
            font-weight: 500;
            margin-bottom: vw(60px);
            color: $greyscale-1100;
            strong {
                font-weight: 600;
                .r {
                    color: $mint;
                }
                .o {
                    color: $orange;
                }
            }
            .thic {
                font-weight: 700;
                position: relative;
                margin-left: vw(6);
                &::after {
                    content: '';
                    position: absolute;
                    z-index: -1;
                    left: 0;
                    bottom: vw(10);
                    width: 100%;
                    height: vw(20);
                    background-color: rgba(#ff7f50, 0.2);
                }
            }
        }
        &-line {
            display: flex;
            gap: vw(60px);
            li {
                color: $greyscale-900;
                font-family: 'suit';
                transition: 0.3s;
                &.on,
                &:hover {
                    color: $mint;
                    cursor: pointer;
                }
                @include font-35px-B;
                letter-spacing: rem(-2);
            }
        }
    }

    .left {
        margin-top: vw(80);
        position: relative;
        width: max-content;
        .img-wrap {
            img {
                width: 100%;
            }
        }
        .button-reserve {
            position: absolute;
            bottom: 27%;
            left: 50%;
            &--drama {
                // bottom: 0;
            }
            &--enter {
                bottom: 25%;
            }
            &--movie {
                bottom: 25%;
            }
            &--kpop {
                bottom: 25%;
            }
        }
    }

    .right {
        pointer-events: none;
        position: absolute;
        top: 0;
        right: -5%;
        background-color: beige;
        width: vw(1050);
        aspect-ratio: 1 / 1;
        z-index: 10;
        background: transparent;

        --orbit-offset-x: #{vw(120)};
        --orbit-offset-y: vw(0);

        &-shape-wrap {
            position: absolute;
            top: 0;
            right: 0%;

            width: vw(1379);
            height: vw(1379);
        }
        &-shape {
            pointer-events: none;
            position: absolute;
            offset-path: var(--orbit-path);
            offset-rotate: 0deg;
            z-index: 15;
            overflow: hidden;
            border: 1px solid #000;
            background-color: $white;
            img {
                &-wrap {
                    position: relative;
                }
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);

                object-fit: contain;
            }
            &.top {
                width: vw(625);
                height: vw(560);
                border-radius: 56% 44% 54% 46% / 72% 70% 30% 28%;
                // background-color: red;
                offset-distance: 12%;
            }
            &.center {
                width: vw(820);
                height: vw(820);
                border-radius: 60% 40% 30% 70% / 55% 67% 33% 45%;
                // background-color: yellow;
                offset-distance: 48%;
            }
            &.bottom {
                width: vw(605);
                height: vw(570);
                border-radius: 73% 27% 41% 59% / 37% 19% 81% 63%;
                // background-color: blue;

                offset-distance: 85%;
            }
        }
        .circle-line {
            top: 0;
            right: 0;
            width: vw(1379);
            height: vw(1379);

            pointer-events: none;
            stroke: #acacac;
            stroke-width: 1;
            fill: #acacac;
            transform-origin: top right;
        }
    }
}
