@use '../../../../styles/utils' as *;

.inner {
    .con-header {
        display: flex;
        flex-direction: column;

        p {
            margin-top: vw(62); // 2rem = 32px → vw 단위 변환
            margin-left: vw(16); // 1rem = 16px → vw 단위 변환
        }

        h3 {
            font-size: rem(140);
            color: $orange;
            line-height: 1;
            &:not(span) {
                font-weight: 800;
            }
            span {
                font-weight: 400;
                margin-left: 30px;
                min-height: max-content;
            }
        }

        .grayhead {
            color: var(--greyscale-1200, #444);
            line-height: 1;
            font-size: rem(140);
            // vertical-align: top;
        }
    }

    .heading-line-wrapper {
        overflow: hidden; // 줄 단위 마스크
    }

    .heading-line-wrapper div {
        display: block; // SplitText가 만든 라인 span 감싸는 요소
    }
}

@include tablet {
    @include mobile {
        .con-header {
            p {
            }

            h3 {
                font-size: rem(35);
                span {
                }
            }

            .grayhead {
            }
        }

        .heading-line-wrapper {
        }

        .heading-line-wrapper div {
        }
    }
}
