@use '../../../../styles/utils' as *;

.inner {
    .con-header {
        &-wrap {
            display: flex;
            flex-direction: column;

            p {
                margin-top: vw(50);

                width: 100%;
                font-size: rem(25);
                font-weight: 300;
            }
        }
        &-title {
            display: flex;
            flex-direction: column;
        }
        &-row {
            display: flex !important;
            // justify-content: center;
            width: 100%;
            gap: vw(10);
            .head {
                &-txt {
                    color: $greyscale-1200;
                    font-size: rem(140);
                    line-height: 1;
                }
            }
            .orange {
                color: $orange;
                font-weight: bold;
            }
        }
    }
}

@include tablet {
    @include mobile {
        .con-header {
            &-wrap {
                align-items: center;

                p {
                    display: none;
                }
            }

            &-row {
                justify-content: center;
                .head {
                    &-txt {
                        font-size: rem(35) !important;
                    }
                }
            }
        }
    }
}
// 모바일일때 35px
