@use '../../../styles/utils' as *;

.consent {
    margin: vw(80px) 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: vw(15px);

    &-master {
        &-label {
            display: block;
            align-items: center;
            gap: vw(8px);
            cursor: pointer;
        }
    }

    &-list {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: vw(10px);
        justify-content: space-between;
    }

    &-item {
        background: #fff;
        border-radius: 8px;
        padding: vw(12px);
        box-sizing: border-box;
    }

    &-row {
        // display: flex;
        align-items: center;
        justify-content: center;
        width: max-content;
        min-width: 0;
        width: 100%;
        gap: vw(8px);
    }

    &-title {
        @include font-18px;
        color: $greyscale-900;
        white-space: normal;
        overflow: visible;
        text-overflow: clip;
    }

    &-content {
        @include font-14px;
        color: $greyscale-900;
        height: max-content;
        display: none;

        &.open {
            display: block;
        }
    }

    .consent-item {
        &.open {
            .consent-row {
                .toggle-btn {
                    transform: rotate(180deg);
                    p {
                        transform: rotate(180deg);
                        transition: 200ms ease;
                        display: inline-block;
                    }
                }
            }

            .consent-content {
                display: block;
                opacity: 1;
                text-indent: vw(10px);
            }
        }

        .toggle-btn {
            p {
                transform: rotate(0deg);
                transition: transform 200ms ease;
                display: inline-block;
            }
        }
    }

    button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    input[type='checkbox'] {
        -webkit-appearance: none;
        appearance: none;
        width: 20px;
        height: 20px;
        border-radius: 5px;
        border: 1px solid $orange;
        background-color: #fff;
        box-sizing: border-box;
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;

        background-repeat: no-repeat;
        background-position: center;
        background-size: 0 0;
        transition: 100ms ease;
        -webkit-tap-highlight-color: transparent;

        &:focus {
            border: 1px solid $orange;

            box-shadow: 0 0 0 4px rgba(255, 127, 80, 0.12);
        }
        &:disabled {
            opacity: 0.5;
            cursor: not-allowed;
        }
    }

    input[type='checkbox'] {
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='9' height='6' viewBox='0 0 9 6' fill='none'><path fill-rule='evenodd' clip-rule='evenodd' d='M8.35126 0.271393C8.445 0.365157 8.49766 0.492311 8.49766 0.624893C8.49766 0.757475 8.445 0.884629 8.35126 0.978393L3.60126 5.72839C3.5075 5.82213 3.38034 5.87479 3.24776 5.87479C3.11518 5.87479 2.98803 5.82213 2.89426 5.72839L0.644262 3.47839C0.553183 3.38409 0.502786 3.25779 0.503925 3.12669C0.505064 2.99559 0.557649 2.87019 0.650353 2.77748C0.743057 2.68478 0.868463 2.6322 0.999562 2.63106C1.13066 2.62992 1.25696 2.68031 1.35126 2.77139L3.24776 4.66789L7.64426 0.271393C7.73803 0.177658 7.86518 0.125 7.99776 0.125C8.13034 0.125 8.2575 0.177658 8.35126 0.271393Z' fill='%23FF7F50'/></svg>");
    }

    input[type='checkbox']:checked {
        background-size: 80% 80%;
    }
}
